@model TicketSystem.Models.TicketViewModel
@{
    ViewBag.Title = "Zgłoszenie";
}

<h2>Zgłoszenie</h2>

@using (@Html.BeginForm("Add", "Ticket", FormMethod.Post, new { @class = "ticket-form" }))
{

    @Html.AntiForgeryToken()

    if (Model.IsSuccess)
    {
        <div class="alert alert-success">
            <p>Formularz zgłoszeniowy został wysłany poprawnie. Kliknij w @Html.ActionLink("Moje zgłoszenia","Details", "Ticket") aby zobaczyć szczegóły.</p>
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TypeOfTicket)
        @Html.EnumDropDownListFor(m => m.TypeOfTicket ,new { @class = "form-control" })
        
    </div>




    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", style = "height:200px" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-sm">Zatwierdź</button>
    </div>
    
}