@using TicketSystem.Model
@model List<TicketSystem.Model.Ticket>
@{
    ViewBag.Title = "Details";
    int idx = 1;//zmiena do numerowania wierszy w tabeli
}


<h2>Moje zgłoszenia</h2>

@if (Model.Count == 0)
{
    <div class="alert alert-warning" role="alert">
        Nie posiadasz żadnych zgłoszeń
    </div>
}
else
{
    <div class="@*table-responsive*@">
        <table @*class="table table-hover"*@ id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tytuł</th>
                <th scope="col">Opis</th>
                <th scope="col">Typ</th>
                <th scope="col">Data utworzenia</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>

            @foreach (var ticket in Model)
            {


                <tr>
                    <th scope="row">@idx</th>
                    <td>@ticket.Title</td>
                    <td style="word-wrap: break-word; max-width: 200px;">@ticket.Description</td>
                    <td>@ticket.TypeOfTicket</td>
                    <td>@ticket.CreationTime</td>
                    <td>
                        
                            @switch (ticket.StatusOfTicket)
                            {
                                case StatusesOfTicket.Zalozony:
                                    <button type="button" class="btn btn-danger">@ticket.StatusOfTicket</button>
                                    break;

                                case StatusesOfTicket.W_trakcie:
                                    <button type="button" class="btn btn-warning">@ticket.StatusOfTicket</button>
                                    break;

                                case StatusesOfTicket.Zrobiony:
                                    <button type="button" class="btn btn-success">@ticket.StatusOfTicket</button>
                                    break;
                            }
                        
                    </td>
                </tr>
                idx++;
            }

            </tbody>
        </table>
    </div>
}

<link rel="stylesheet" type="text/css" href="/Content/datatables.min.css" />



@section scripts
{
<script type="text/javascript" src="/Scripts/datatables.min.js"></script>
    <script>
        
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>


}
